# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
**/android/**/GeneratedPluginRegistrant.java

# iOS
ios/.symlinks/
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
**/ios/**/GeneratedPluginRegistrant.*

# IDE
.idea/
.vscode/
*.iml
*.swp

# Misc
.DS_Store
*.log
pubspec.lock
